body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 27, 27, 0.33);
    color: rgb(46, 46, 46);
}

.container {
    background-color: rgba(238, 238, 238, 0.452);
}

#headerContainer {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 25px;
}


#title {
    text-align: center;
    font-size: 40px;
}

#searchContainer {
    padding: 25px;
}

#footer {
    text-align: center;
}

div.line
{
    height: .5px;
    width: 100%;
    background-color: rgb(131, 131, 131);
}